<!--<!DOCTYPE html>-->
<!--<html>-->
<!--	<head>-->
<!--&lt;!&ndash;        <title>  page </title>&ndash;&gt;-->

<!--        {% if title %}-->
<!--            <title>Flask - {{ title }}</title>-->
<!--        {% else %}-->
<!--            <title> Flask Blog</title>-->
<!--        {% endif %}-->


<!--    </head>-->
<!--	<body>-->

<!--        <h1>  About page </h1>-->

<!--    </body>-->
<!--</html>-->


{% extends "layout.html" %}
{% block content %}
    <h1> About page </h1>
{% endblock content %}

<!--https://getbootstrap.com/docs/4.0/getting-started/introduction/#starter-template-->